.root {
  position: relative;
}

.input {
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 12px 40px;
  width: 500px;
  border-radius: 10px;
  font-size: 18px;

  &:focus {
    border: 1px solid rgb(0, 0, 0, 0.3);
  }

}

.searchIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  top: 15px;
  left: 10px;
}

.cleanIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  top: 15px;
  right: 10px;
}